@model IEnumerable<MVC.Homework.One.Models.客戶聯絡人>

<h2>客戶連絡人</h2>

@using (Html.BeginForm())
{
    @:職稱篩選:
    @Html.DropDownList("職稱", null, "請選擇", new { onchange = "this.form.submit()" })
    @Html.ActionLink("加入新資料", "Create", new { 客戶Id = ViewBag.客戶Id }, new { @class = "btn btn-default", })
}
@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.職稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.姓名)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.手機)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.電話)
            </th>
            <th></th>
        </tr>
        @{
    var data = Model.ToArray();
        }
        @*@foreach (var item in Model)*@
        @for (int i = 0; i < data.Length; i++)
        {
            <tr>
                <td>
                    @Html.EditorFor(modelItem => data[i].職稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].姓名)
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].Email)
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].手機)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].電話)
                </td>
                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = data[i].Id }) |
                    @Html.ActionLink("詳細資料", "Details", new { id = data[i].Id }) |
                    @Html.ActionLink("刪除", "Delete", new { id = data[i].Id })
                </td>
            </tr>
        }
    </table>
    <button type="submit">更新</button>
    @Html.ActionLink("下載", "CreateExcelFile", null, new { @class = "btn btn-default", })
}