@model MVC.Homework.One.Models.客戶資料

@{
    ViewBag.Title = "客戶資料";
}

<h2>Details</h2>

<div>
    <h4>客戶資料</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.客戶名稱)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.統一編號)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.統一編號)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.電話)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.電話)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.傳真)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.傳真)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.地址)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.地址)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.客戶分類)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.客戶分類)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.經度)
        </dt>
        <dd>            
            @Html.DisplayFor(model => model.經度)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.緯度)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.緯度)
        </dd>
    </dl>
    <p>
        @Html.ActionLink("編輯", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("返回", "Index")
    </p>
</div>


@*@section gMap
{
    <script type="text/javascript">
        var map;
        function initMap(vlat, vlng) {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: vlat, lng: vlng },
                zoom: 8
            });
        }
    </script>
}*@

<hr />
@*@Html.Partial("Partial客戶連絡人", Model.客戶聯絡人)*@
@Html.Action("Index", "客戶聯絡人", new { Model.Id })
<hr />
@*@Html.Action("Action客戶銀行資訊", new { Model.Id })*@
@Html.Action("Index", "客戶銀行資訊", new { Model.Id })

